
#destaque{
     background-color: rgb(0, 0, 0);
     width: 100%;
     height: 550px;
     display: flex;
   
   
   }
   
   .esquerda {
     background-color: rgb(10, 9, 11);
     width: 35%;
     height: auto;   
     
   }
   .direita {
     background-color: rgb(0, 0, 0);
     width: 65%;
     height: auto;   
   }
   
   #rd{
     color: #fff;
     font-family: 'Courier New', Courier, monospace;
     font-size: 25px;
   }
   
   .vid-info { position: absolute; top: 5; left: 0; width: 35%;height: 77%; background: rgba(0,0,0,0.3); color: #fff; padding-left: 2rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 2rem;}
   
   .vid-info h1 { font-size: 4rem; width: 50%;margin-top: 0; line-height: 1.2;}
   
   *{ box-sizing: border-box; text-outline: 0 0 #000;p }
   
   
   #rodape{
     background-color: rgb(0, 0, 0);
     font-style: normal;
     display: block;
     box-sizing: inherit;
     padding-top: 35px;
     text-align: center;
   
   }
   
   #rodape footer{
     margin-top: 50px;
     /* background-color: #000; */
   }
   