@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:ital,wght@0,100;0,400;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Lalezar&family=Share+Tech+Mono&family=Space+Mono:ital,wght@0,700;1,400&display=swap');

/*
     font-family: 'Berkshire Swash', cursive;
     font-family: 'Josefin Sans', sans-serif; 
     font-family: 'Amita', cursive;
     font-family: 'Share Tech Mono', monospace;
     font-family: 'Space Mono', monospace;
      
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzctbXludC0xNl8xLmpwZw.jpg?s=3EQLdDpVel4GERqPMTYzx5sqSAn-qd2qJICL_cp8v5k);
}

header {
  background-color: #0000004d;
}

#titulo {
  font-family: 'Amita', cursive;
}

#menu { 
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
}

#menu li {
  float: left;
  margin-top: 10px;
}

#menu li :hover {
  color: rgb(255, 255, 255);
}

#menu li a {
  font-family: 'Lalezar', cursive;
}

#titulo {
  color: rgb(255, 255, 255);
  margin-left: 15px;
  padding-top: 10px;
}

.link a {
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#rd{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

#rodape{
  background-color: rgb(0, 0, 0);
  font-style: normal;
  display: block;
  box-sizing: inherit;
  padding-top:10px;
  text-align: center;

}

#rodape footer{
  margin-top: 58  px;
  /* background-color: #000; */
}
