@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Space Mono', monospace;
}

header {
     background-color: #555555;
     padding-bottom: 20px;
}

#menu {
     display: inline-block;
     list-style: none;
     float: right;
     margin-top:15px;
     margin-right: 15px;
}

#menu li {
     float:left;
}

#menu li :hover {
     color: rgb(255, 255, 255);
}

#titulo {
     color: white;
     margin-left: 15px;
     margin-top: 15px;
}

.link a{
     padding: 10px 10px 20px 20px;
     text-decoration: none;
     color: rgb(0, 0, 0);
}

#propaganda {
   margin-top: 100px;
     width: 100%;
     height: 500px;
     display: flex;
}

#propaganda .left{
     margin-left: 25px;
     margin-right: 20px;
     width: 50%;
     text-align: justify;
     
}

#propaganda .rigth{
     width: 50%;
     background-image: url();
}